body{
    background-image: url('backgrnd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
h1{
    color:aquamarine;
}
h3{
    color:aquamarine;
}